@import 'reset';
@import 'values';

// @font-face {
//     font-family: Pompadur; /* Гарнитура шрифта */
//     src: url(fonts/pompadur.ttf); /* Путь к файлу со шрифтом */
//    }
// @import url('https://fonts.googleapis.com/css?family=Open+Sans');
// @import url('/assets/fonts/Europe.ttf');

 // @font-face {
 //    font-family: Europe; /* Имя шрифта */
 //    src: url(/assets/fonts/Europe.ttf); /* Путь к файлу со шрифтом */
 //   }
body{
	   // background-image: url(/assets/img/fon2.jpg);
  //  background-size: cover;
     background-size: 100% 100%;
}

@font-face {
    font-family: Europe; /* Имя шрифта */
    src: url(/assets/fonts/6501.ttf); /* Путь к файлу со шрифтом */
   }
  body *{
    font-family: Europe;
    // color:#575757;
     color: black;
  }  

  h2{
  	color:#575757;
  }

.about_comlplex_wrap{
	padding-top: 5em;
	.row{
		padding-top:2em;
		text-align: left;
		text-indent: 1em;
	}
}



#myCarousel_UP{
	top: -4em;
}
.navbar-opacity{
	z-index: 111111;
	 // background: rgba(255, 255, 255, 0.5);
	  background: rgba(192, 192, 192, 0.7);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  height: 60px;

	 //background: url(@singlepixel) 100% 100% repeat; /* Добавляем фон */
	 //background-color: red;
	// opacity: 0.2;
	//background-color: grey;
	// filter: alpha(opacity=80);
// -webkit-filter: opacity(.2);
//   filter: opacity(.2);
//   color;white;

}
.navbar-brand{
	    padding: 13px 18px 15px 15px;
}
// .navbar-nav{
// 	padding-left: 5em
// }
.navbar .navbar-nav {
    display: inline-block;
    float: none;
     li{
     	a,a:active{
     		color:white;

           font-size: xx-large;
     	}
     	a:hover,a:focus{
     		color:@linecolor;
     		background-color: transparent;
     	}
     	
     }
     li.active{
     	 a{
     	 	color:@linecolor;
     	 	 text-decoration: underline;

              span{
              	color: white;
              }
     	 } 
     }
   
}

.navbar .navbar-collapse {
    text-align: center;

}
.navbar-collapse .navbar-right li a{
	font-size: large;
}

.navbar-toggle{
	background-color: @linecolor;
	.icon-bar{
		background-color: white;
	}
}

.about_comlplex{
	font-size: xx-large;
	    font-weight: bold;
}
.caption{
	    font-size: x-large;
}
.room_container{
	padding-top: 3em;
}
.room_container_builder{
padding-top: 3em;
padding-bottom: 3em;	
}
// .navbar .navbar-collapse{
// 	background-color: grey;
// }


#myCarousel{
    // -ms-transform: skewY(-20deg); /* IE 9 */
    // -webkit-transform: skewY(-20deg); /* Safari */
    // transform: skewY(-20deg); /* Standard syntax */
}
.stand{
	    height: 450px;
	 background: url(@standimage) 50% 100% no-repeat; /* Добавляем фон */
	   
	   // background-size: cover; /* Масштабируем фон */
}

.form_div{
 border: 10px solid @form_border; /* Параметры границы */	
    padding: 3.5em;
    border-radius:15px;
    .form-group .input-group input{
      border-radius:8px;	
    }

}

.form_div input, .input-group-addon{
 background-color: @linecolor;
 color:white;



}
.submit_btn{
	color:white;
	background-color:@btn_form;

}
.submit_btn:hover{
	color:white;
	background-color:@linecolor;
}


.border_wrap{

padding:2em;
border-radius: 8px;
	//border: 1px solid #ddd;
	.thumbnail{
		border:none;
		background-color:transparent;
		img{
			width: 85%;
		}
	}
	// height: 10em;
}



#center_image{
	z-index: 11111;
	    margin-top: -8em;
	.thumbnail{
		//border:none;
		background-color:transparent;
		    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
		img{
			width: 98%;


		}
	}
        

	    .border_wrap{
	    	background-color:white;
	    }

}
// .red{
// 	background-color:red;
// }
// .blue{
// 	background-color:blue;
// }
// .green{
// 	background-color:green;
	
// }
// .gold{
// 	background-color:gold;
	
// }
// .pink{
// 	background-color:pink;
// }


// .red{
// 	background-color:white;
// }
// .blue{
// 	background-color:white;
// }
// .green{
// 	background-color:white;
	
// }
// .gold{
// 	background-color:white;
	
// }
// .pink{
// 	background-color:white;
// }




.bottom_wrap_image
{
	margin-top: -10em;
}

.slider_row{
  background: url(@fonslider) 50% 50% no-repeat; /* Добавляем фон */
}

.slider2{
	height: 300px;
}

#parent_image {
	line-height: 134px;
}
#parent_image img {
	vertical-align: middle;
}
.parent_image_news{
	line-height: 100px;
}
.parent_image_news img {
	vertical-align: middle;
}

.perfect{
	 background: url(@perfect) 100% 100% no-repeat; /* Добавляем фон */
		//background: url(@perfect) no-repeat; /* Добавляем фон */
	background-size:  cover;
     
	
height: 64em;
padding-top: 3em;
.container{
	padding-top: 7em;
	// line-height: 10px;


}
.row *{
 color:white;
}
 
}
.lcol{
	
	border-right: 2px solid @btn_form;
	div{
		text-align:right;
		padding: 2em 0;
	}

}


.rcol{
	
	div{
		text-align:left;
		padding: 2em 0;
	}

}

.news_text{
	padding-top: 1em;
	text-align: left;
	text-indent: 1em;

	
}
.parent_image_news{
	border-right: 2px solid @btn_form;
	.thumbnail{
		width: 90%;
	}
}

.datewrap{
	padding-top: 2em;
}

.mapwrap{
	 background: url(@mapwrap) 100% 100% no-repeat; /* Добавляем фон */
		//background: url(@perfect) no-repeat; /* Добавляем фон */
	background-size:  cover;	
	min-height: 20em;
}

#myCarousel5,.zastroi{
		border-top: 2px solid white;
		padding-top: 1em;
		padding-bottom: 1em;
}

.paralax{
	
	 /* The image used */
    background-image: url(@paralax);
	 /* Full height */
    height: 60em;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



// footer






// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#575756; min-height:350px; font-family: 'Europe', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Europe', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}




 .wrap-stand{
 	// line-height: 200px;

line-height: 27;
 }

 .wrap-stand img {
    padding-left: 3em;
    vertical-align: middle;

transform: perspective( 801px ) rotateY( 34deg ) rotateX( 8deg ) rotate(-4deg);

}

.rotatebutton_old{
	transform: rotate(45deg);
	width: 10px;
	height: 10px;
	background-color: @linecolor;
	//padding: 1em;
	margin-left: 1em;
	border: none;

}

.rotatebutton_old{
	transform: rotate(45deg);
	width: 10px;
	height: 10px;
	background-color: @linecolor;
	//padding: 1em;
	margin-left: 1em;
	border: none;

}
.rotatebutton_old:focus{

	border: none;


}



.rotatebutton{

	border: none;
		  -moz-border-radius: 25px;
  -moz-box-shadow: #6E7849 0px 0px 10px;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-border-radius: 25px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 0.5s ease;
  background-color: #84c4f0;
  background-image: -moz-linear-gradient(90deg, #84c4f0, #84c4f0);
  background-image: -ms-linear-gradient(90deg, #84c4f0, #84c4f0);
  background-image: -o-linear-gradient(90deg, #84c4f0, #84c4f0);
  background-image: -webkit-linear-gradient(90deg, #84c4f0, #84c4f0);
  background-image: linear-gradient(90deg, #84c4f0, #84c4f0);
  border-radius: 25px;
  // border: 2px solid #84c4f0;
  box-shadow: #6E7849 0px 0px 10px;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6em;
  margin: auto;
  padding: 15px;
  text-decoration: none;
  text-shadow: #000000 5px 5px 15px;
  transition: all 0.5s ease;

}
.rotatebutton:focus,.rotatebutton:active,.button2:focus,.button2:active{

	// border: none;
	  -moz-border-radius: 25px;
  -moz-box-shadow: #6E7849 0px 0px 10px;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-border-radius: 25px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 0.5s ease;
  background-color: #84c4f0;
  background-image: -moz-linear-gradient(90deg, #84c4f0, #84c4f0);
  background-image: -ms-linear-gradient(90deg, #84c4f0, #84c4f0);
  background-image: -o-linear-gradient(90deg, #84c4f0, #84c4f0);
  background-image: -webkit-linear-gradient(90deg, #84c4f0, #84c4f0);
  background-image: linear-gradient(90deg, #84c4f0, #84c4f0);
  border-radius: 25px;

  box-shadow: #6E7849 0px 0px 10px;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6em;
  margin: auto;
  padding: 15px;
  text-decoration: none;
  text-shadow: #000000 5px 5px 15px;
  transition: all 0.5s ease;


}

button:focus{
	border: none;
}

.button2 {
  -moz-border-radius: 25px;
  -moz-box-shadow: #6E7849 0px 0px 10px;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-border-radius: 25px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 0.5s ease;
  background-color: #84c4f0;
  background-image: -moz-linear-gradient(90deg, #84c4f0, #84c4f0);
  background-image: -ms-linear-gradient(90deg, #84c4f0, #84c4f0);
  background-image: -o-linear-gradient(90deg, #84c4f0, #84c4f0);
  background-image: -webkit-linear-gradient(90deg, #84c4f0, #84c4f0);
  background-image: linear-gradient(90deg, #84c4f0, #84c4f0);
  border-radius: 25px;
  // border: 2px solid #84c4f0;
  box-shadow: #6E7849 0px 0px 10px;
  color: #ffffff;
  display: inline-block;
  font-size: 1.6em;
  margin: auto;
  padding: 15px;
  text-decoration: none;
  text-shadow: #000000 5px 5px 15px;
  transition: all 0.5s ease;
}
.button2:hover {
  padding: 15px;
}






.rotatebutton2{
	background-image: url(/assets/img/emptybutton.png);
	background-size: cover;
}
.jumbotron_uwn{
	background-color: #575756;
	*{
		color: white;
	}
}

.contacts-item .icon {
    width: 30px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.contacts-item .icon i {
    display: block;
    margin: auto;
}



.fa.fa-mobile,.fa.fa-envelope,.fa-facebook,.fa-instagram,.fa-vk,.fa-youtube-play{
	font-size: 150%;
}


.fa-facebook-f:before, .fa-facebook:before,.fa-instagram:before,.fa-vk:before,.fa-youtube-play:before {
   
    padding-right: 0.5em;
    font-size: 121%;
}

.form_fill{
	color:black;
  input,textarea{
  	color:black;
  }

}

#myModal,#myModal_callback{
	top:8em;
	 border-radius: 10px;
.modal-header{
 background-color: rgb(222, 244, 202);
}



.modal-content,.modal-header{
	border-radius: 10px;
}
.modal-contentP{
	text-indent: 1em;
}

}


.navbar .navbar-nav li a, .navbar .navbar-nav li a:active {
    color: #fff;
    font-size: x-large;
}



#myNavbar span{
	color:white;
}



.zastroitext{
	text-align: left;
	text-indent:1em;
}



